@model Alumno


@{
    ViewData["Title"] = "Información Alumno";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.MensajeExtra</h2>

<strong>Desde la vista normal</strong>
<p>
    Nombre: @Model.Nombre </br>
    Id: @Model.Id
</p>

<strong>Desde la vista parcial</strong>
<partial name="ObjetoEscuelaSimple"/>

@Html.ActionLink("Regresar", "MultiAlumno", "Alumno",null, new{@class="btn btn-primary"})

<p><strong>@ViewBag.cosaDinamica</strong></p>
<p><strong>@ViewData["fecha"]</strong></p>